
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off footer" >
    <div class="w3-xlarge w3-section">
        <img src="~/images/sbtSolutions_logoWhite_3.png" height=20px>
    </div>
    <div class="w3-row">
        <div class="w3-third">
            <ul>
                <li>
                    <a href="">Terms and Conditions</a>
                </li>
                <li>
                    <a href="">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="w3-third">
            <ul>
                <li>
                    <a href="http://www.sbt-solutions.co.uk" title="www.sbt-solutions.co.uk" target="_blank">&nbsp; www.sbt-solutions.co.uk</a>
                </li>
            </ul>
        </div>
        <div class="w3-third">
            <ul>
                <li>
                    <i class="far fa-copyright"></i> SBT Solutions 2018
                </li>
            </ul>
        </div>
    </div>
</footer>