@using Microsoft.AspNetCore.Identity
@using SBTCustomerManager.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
        
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <div class="w3-dropdown-hover w3-hide-small w3-right">
            <button class="w3-padding-large w3-white w3-text-grey button-large">
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
                    <i class="fa fa-user w3-margin-right"></i>@UserManager.GetUserName(User)<i class="fa fa-caret-down w3-margin-left"></i>
                </a> 
            </button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="w3-bar-item w3-hide-small w3-button">Your Account</a>
                <button type="submit" class="w3-bar-item w3-hide-small w3-button">Log out</button>
            </div>
        </div>
        <div class="w3-hide-medium w3-hide-large">
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><button class="w3-padding-large w3-white w3-text-grey w3-bar-item w3-right w3-button"><i class="fa fa-user w3-margin-right" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Your Account"></i></button></a> 
            <a href="javascript:void(0);"><button type="submit" class="w3-padding-large w3-white w3-text-grey w3-bar-item w3-right w3-button"><i class="fa fa-user-times" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Log Out"></i></button></a>
        </div>
    </form>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Login" class="w3-bar-item w3-hide-small w3-button w3-right">
        <button class="w3-bar-item w3-hide-small w3-button"><i class="fa fa-user w3-margin-right"></i>Log in</button>
    </a>    
}
