<nav class="w3-top w3-text-white">
    <div class="w3-bar navbar">
        <img src="~/images/sbtSolutions_logo_1.png" alt="SBT Solutions" height="50px" class="w3-bar-item w3-hide-small" >   
        <img src="~/favicon.ico" alt="SBT Solutions" height="50px" class="w3-bar-item w3-hide-large w3-hide-medium" >   

        @await Html.PartialAsync("_LoginPartial")

        <a href="http://www.sbt-solutions.co.uk" class="w3-bar-item w3-button w3-right">
            <button class="w3-bar-item w3-hide-small w3-button"><i class="fas fa-home"></i></button>
        </a>   
        
    </div>
</nav>