@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div class="w3-container">
    <div class="w3-container" style="min-height: 410px">
        <p>Thank you for confirming your email.</p>
    </div>
</div>
