@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<body style="background: url(@Model.HomeBackground.ImageURL) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">

    <div style="height: 100px"></div>
    <div class="w3-content w3-container">

        <div class="w3-row">
            <div class="w3-container w3-half w3-opacity w3-hover-opacity-off w3-white w3-round">
                <h2><img src="https://farm5.staticflickr.com/4755/40360626851_3a35e624d2_o.png"/>Log In</h2>
                <hr />
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="w3-input" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="w3-input" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="accordian1 w3-text-white w3-padding w3-block w3-button w3-round">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-action="ForgotPassword" class="w3-opacity-off">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="w3-half">
                <div class="w3-container">
                    
                </div>
            </div>
        </div>

        <div class="w3-row"><p><br></p></div>
        
    </div>
</body>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
