@model SBTCustomerManager.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="w3-content w3-container">

    <div class="w3-row">
        <h2>Create a new account</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="regForm">
            <!-- One "tab" for each step in the form: -->
            <div class="tab">
                <h4>Your details</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <div class="custom-select" style="width:100%;">
                        @Html.DropDownListFor(m => m.Title,Model.Titles,"Select Title", new {@class = "w3-input", required=""})
                    </div>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <label asp-for="ForeName"></label>
                    <input asp-for="ForeName" class="w3-input" />
                    <span asp-validation-for="ForeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname"></label>
                    <input asp-for="Surname" class="w3-input" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            
            <div class="tab">
                <h4>Contact details</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="w3-input" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobilePhone"></label>
                    <input asp-for="MobilePhone" class="w3-input" />
                    <span asp-validation-for="MobilePhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WorkPhone"></label>
                    <input asp-for="WorkPhone" class="w3-input" />
                    <span asp-validation-for="WorkPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OtherPhone"></label>
                    <input asp-for="OtherPhone" class="w3-input" />
                    <span asp-validation-for="OtherPhone" class="text-danger"></span>
                </div>
            </div>
            
            <div class="tab">
                <h4>Account details</h4>
                <hr />

                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="w3-input" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="w3-input" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="w3-input" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName"></label> <i class="fa fa-info-circle" data-toggle="popover" data-trigger="focus" data-content="This will create a new company.  To add an account to an existing company, the Company Admin user should add the account after registration."></i>
                    <input asp-for="CompanyName" class="w3-input" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
            </div>
            
            <div class="tab">
                <h4>Address details</h4>
                <hr />
                <div class="w3-row-padding">
                    <div class="w3-half">
                        <div class="w3-container">
                            <div id="locationField">
                                <label><i class="fas fa-map-marker fa-fw w3-margin-right"></i>Address</label>
                                <input id="autocomplete" placeholder="Enter your address"onFocus="geolocate()" type="text" class="w3-input"/>
                            </div>
                            <div class="form-group">
                                <label asp-for="AddressLine1"></label>
                                <input asp-for="AddressLine1" class="w3-input" id="route"/>
                                <span asp-validation-for="AddressLine1" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostTown"></label>
                                <input asp-for="PostTown" class="w3-input" id="postal_town"/>
                                <span asp-validation-for="PostTown" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Country"></label>
                                <input asp-for="Country" class="w3-input" id="country"/>
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="w3-half">
                        <div class="w3-container">
                            <div class="form-group">
                                <label asp-for="BuildingNumber"></label>
                                <input asp-for="BuildingNumber" class="w3-input" id="street_number"/>
                                <span asp-validation-for="BuildingNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AddressLine2"></label>
                                <input asp-for="AddressLine2" class="w3-input" />
                                <span asp-validation-for="AddressLine2" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="County"></label>
                                <input asp-for="County" class="w3-input" id="locality"/>
                                <span asp-validation-for="County" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Postcode"></label>
                                <input asp-for="Postcode" class="w3-input" id="postal_code"/>
                                <span asp-validation-for="Postcode" class="text-danger"></span>
                            </div>          
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="overflow:auto;" class="w3-padding">
                <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="w3-button accordian2 w3-text-white">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)" class="w3-button accordian1 w3-text-white">Next</button>
                </div>
            </div>
            
            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
            
        </form>

    </div>

    <div class="w3-row"><p><br></p></div>
    
</div>
@Html.Partial("_Loading")
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $("[data-toggle='popover']").popover({ trigger: "hover" });
    </script>
    <script src="https://s3.amazonaws.com/sbt-solutions.co.uk/addressAutoComplete.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOfCiFMuWl_6DzM4BsVFPYZ7ZvWmHcKR0&libraries=places&callback=initAutocomplete" async="" defer="defer"></script>
    <script src="https://s3.amazonaws.com/sbt-solutions.co.uk/customSelect.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://s3.amazonaws.com/sbt-solutions.co.uk/customSelect.css"/>
    <script src="https://s3.amazonaws.com/sbt-solutions.co.uk/multiPageForm.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://s3.amazonaws.com/sbt-solutions.co.uk/multiPageForm.css" />
}
