@using SBTCustomerManager.Views.Company
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="w3-bar">
    <div class="@CompanyNavPages.IndexNavClass(ViewContext) w3-bar-item w3-button"><a asp-action="Index"><i class="fas fa-building w3-margin-right"></i>Company Details</a></div>
    <div class="@CompanyNavPages.UsersNavClass(ViewContext) w3-bar-item w3-button"><a asp-action="Users"><i class="fas fa-users w3-margin-right"></i>Company Users</a></div>
</div>

