@model SBTCustomerManager.Models.RoleViewModels.RoleViewModel
@{
    ViewData["Title"] = "Add Role";
}

    @Html.Partial("_StatusMessage", Model.StatusMessage)

    <div class="w3-row-padding w3-margin-top">

        <form method="post">
            <div class="w3-bar">
                <div asp-validation-summary="All" class="text-danger w3-bar-item"></div>
                <button type="submit" class="w3-button w3-bar-item w3-right accordian1 w3-text-white" data-toggle="popover" data-trigger="focus" data-content="Save Changes" data-placement="top" onclick="document.getElementById('id01').style.display='block'"><i class="fas fa-save"></i></button>
                <button type="reset" class="w3-button w3-bar-item w3-right accordian2 w3-text-white" data-toggle="popover" data-trigger="focus" data-content="Reset" data-placement="top"><i class="fas fa-redo"></i></button>
                <a asp-area="" asp-controller="Role" asp-action="Index" title="Role" class="w3-button w3-bar-item w3-right accordian1 w3-text-white" onclick="document.getElementById('id01').style.display='block'"><i class="fas fa-arrow-left"></i></a>        
            </div>

            <div class="w3-half">
                <div class="w3-container">
                    <div class="form-group">
                        <label asp-for="Role.Name"></label>
                        <input asp-for="Role.Name" class="w3-input"/>
                        <span asp-validation-for="Role.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Role.Type.Type"></label>
                        <span asp-validation-for="Role.Type.Type" class="text-danger"></span>
                        <div class="custom-select" style="width:400px;">
                            @Html.DropDownListFor(m => m.Role.Type.Id,Model.RoleTypes,"Select Type", new {@class = "w3-input", required=""})
                        </div>
                    </div>
                </div> 
            </div>

            <div class="w3-half">
                <div class="w3-container">
                    <label asp-for="Role.Description"></label>
                    <textarea asp-for="Role.Description" class="w3-input" style="width: 400px;"></textarea>  
                </div>
            </div>
            <input asp-for="Role.RoleId" type="hidden"/>
        </form>
    </div>

    <!-- Modal that pops up when you click on to add or delete role -->
    <div id="id01" class="w3-modal" style="z-index:4">
        <div class="w3-modal-content w3-animate-zoom" style="width: 400px">
            <div class="w3-container w3-padding-large">
                <div class="w3-center w3-padding-large"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
                <h2 class="w3-center">Please wait....</h2>
            </div>
        </div>    
    </div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $("[data-toggle='popover']").popover({ trigger: "hover" });
    </script>
    <script src="https://s3.amazonaws.com/sbt-solutions.co.uk/customSelect.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://s3.amazonaws.com/sbt-solutions.co.uk/customSelect.css"/>
}
