    <div class="w3-bar-item w3-button"><a href="/Customer/Customer/@Model.Customer.Company.Id"><i class="fas fa-info w3-margin-right"></i>Customer Details</a></div>
    <div class="w3-bar-item w3-button"><a href="/Customer/Subscriptions/@Model.Customer.Company.Id"><i class="fas fa-dollar-sign w3-margin-right"></i>Customer Subscriptions</a></div>
    <div class="w3-bar-item w3-button"><a href="/Customer/Staff/@Model.Customer.Company.Id"><i class="fas fa-users w3-margin-right"></i>Customer Staff</a></div>