    <div class="w3-bar-item w3-button"><a href="/Customer/Customer/@Model.Customer.Company.Id"><i class="fas fa-info w3-margin-right"></i>Customer Details</a></div>
    <div class="w3-bar-item w3-button"><a href="/Customer/StaffDetail/@Model.UserDetails.Id"><i class="far fa-user-circle w3-margin-right"></i>User Detail</a></div>
    <div class="w3-bar-item w3-button"><a href="/Customer/StaffContact/@Model.UserDetails.Id"><i class="far fa-address-book w3-margin-right"></i>User Contact</a></div>
    <div class="w3-bar-item w3-button"><a href="/Customer/StaffProfile/@Model.UserDetails.Id" onclick="document.getElementById('id01').style.display='block'"><i class="far fa-id-card  w3-margin-right"></i>User Profile</a></div>